<section class="article">
    <div class="container">
      <div class="article__tags">
        <a href="#" class="article__tags-item">Восхождение</a>
        <a href="#" class="article__tags-item">Треккинг</a>
      </div>
      <h1 class="h1">Про мембраны Gore-Tex: <br>история, технологии, виды</h1>
      <div class="article__autor-block">
        <div class="article__autor">
          <img src="img/author-avatar.jpg" alt="" class="article__autor-photo">
          <div class="article__autor-name">Александр Иванов</div>
        </div>
        <button class="article__favorites-button">
          <svg class="article__favorites-button-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <use href="#favorites-icon"></use>
          </svg>
        </button>
      </div>
      <div class="article__photo" style="background-image:url(img/article.jpg);"></div>
      <div class="article__cols">
        <div class="article__lcol">
          <section class="article-tabs js-tabs">
              <div class="article-tabs__in">
                <div class="article-tabs__title">Содержание статьи</div>
                <div class="article-tabs__btns">
                  <a href="#" class="article-tabs__btn js-tabs-nav active">История Gore-Tex</a>
                  <a href="#" class="article-tabs__btn js-tabs-nav">Технология Gore-Tex</a>
                  <a href="#" class="article-tabs__btn js-tabs-nav">Виды Gore-Tex</a>
                </div>
                <div class="article__texts">
                  <div class="article__text js-tabs-item active">
                    <p><b>Компания W.L. Gore остаётся самым авторитетным производителем мембранных тканей на рынке. Поэтому мы подготовили этот гид по материалам Gore-Tex — их истории, назначении, строении и принципам работы</b></p>
                    <p>Gore-Tex — это семейство мембранных материалов для одежды, обуви и аксессуаров. Они делают вещь непромокаемой и одновременно дышащей, то есть способной отводить испарения с поверхности тела.</p>
                    <p>Название Gore-Tex для многих стало нарицательным и обозначает климатическую мембрану в одежде и обуви. Что собой представляют эти материалы, как ориентироваться в выборе между ними и почему именно Gore-Tex получил такую известность? Мы постараемся ответить на все эти вопросы.</p>
                  </div>
                  <div class="article__text js-tabs-item">
                    <p><b>Компания W.L. Gore остаётся самым авторитетным производителем мембранных тканей на рынке. Поэтому мы подготовили этот гид по материалам Gore-Tex — их истории, назначении, строении и принципам работы</b></p>
                    <p>Gore-Tex — это семейство мембранных материалов для одежды, обуви и аксессуаров. Они делают вещь непромокаемой и одновременно дышащей, то есть способной отводить испарения с поверхности тела.</p>
                    <p>Название Gore-Tex для многих стало нарицательным и обозначает климатическую мембрану в одежде и обуви. Что собой представляют эти материалы, как ориентироваться в выборе между ними и почему именно Gore-Tex получил такую известность? Мы постараемся ответить на все эти вопросы.</p>
                  </div>
                  <div class="article__text js-tabs-item">
                    <p><b>Компания W.L. Gore остаётся самым авторитетным производителем мембранных тканей на рынке. Поэтому мы подготовили этот гид по материалам Gore-Tex — их истории, назначении, строении и принципам работы</b></p>
                    <p>Gore-Tex — это семейство мембранных материалов для одежды, обуви и аксессуаров. Они делают вещь непромокаемой и одновременно дышащей, то есть способной отводить испарения с поверхности тела.</p>
                    <p>Название Gore-Tex для многих стало нарицательным и обозначает климатическую мембрану в одежде и обуви. Что собой представляют эти материалы, как ориентироваться в выборе между ними и почему именно Gore-Tex получил такую известность? Мы постараемся ответить на все эти вопросы.</p>
                  </div>
                </div>
              </div>
          </section>
          <div class="article__important">Gore-Tex — это семейство мембранных материалов для одежды, обуви и аксессуаров. Они делают вещь непромокаемой и одновременно дышащей, то есть способной отводить испарения с поверхности тела.</div>
          <a href="#" class="link--button link--button--blue">
            <span class="link--button__text link--button__text--bg">Подробнее о страховочных системах</span>
            <span class="link--button__text link--button__text--for">Подробнее о страховочных системах</span>
          </a>

          <div class="article__slider-wrap js-full-slider">
            <div class="article__slider swiper-container">
              <div class="swiper-wrapper">
                <div class="article__slider-item swiper-slide" style="background-image: url(img/article.jpg);"></div>
                <div class="article__slider-item swiper-slide" style="background-image: url(img/tour.jpg);"></div>
                <div class="article__slider-item swiper-slide" style="background-image: url(img/article.jpg);"></div>
                <div class="article__slider-item swiper-slide" style="background-image: url(img/article.jpg);"></div>
                <div class="article__slider-item swiper-slide" style="background-image: url(img/article.jpg);"></div>
                <div class="article__slider-item swiper-slide" style="background-image: url(img/article.jpg);"></div>
                <div class="article__slider-item swiper-slide" style="background-image: url(img/article.jpg);"></div>
                <div class="article__slider-item swiper-slide" style="background-image: url(img/article.jpg);"></div>
                <div class="article__slider-item swiper-slide" style="background-image: url(img/article.jpg);"></div>
                <div class="article__slider-item swiper-slide" style="background-image: url(img/article.jpg);"></div>
                <div class="article__slider-item swiper-slide" style="background-image: url(img/article.jpg);"></div>
                <div class="article__slider-item swiper-slide" style="background-image: url(img/article.jpg);"></div>
              </div>
              <div class="swiper-pagination"></div>
              <div class="article__slider-nav-buttons-container">
                <button class="slider__nav-button slider__nav-button--prev">
                  <div class="slider__nav-button-bg"></div>
                  <svg class="slider__nav-button-icon" class="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><use href="#arrow-next"/></svg>
                </button>
                <button class="slider__nav-button slider__nav-button--next">
                  <div class="slider__nav-button-bg"></div>
                  <svg class="slider__nav-button-icon" class="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><use href="#arrow-next"/></svg>
                </button>
              </div>
            </div>
            <div class="article__slider-previews swiper-container-in">
              <div class="swiper-wrapper">
                <div class="article__slider-preview swiper-slide" data-num="0" style="background-image: url(img/article.jpg);"></div>
                <div class="article__slider-preview swiper-slide" data-num="1" style="background-image: url(img/tour.jpg);"></div>
                <div class="article__slider-preview swiper-slide" data-num="2" style="background-image: url(img/article.jpg);"></div>
                <div class="article__slider-preview swiper-slide" data-num="3" style="background-image: url(img/article.jpg);"></div>
                <div class="article__slider-preview swiper-slide" data-num="4" style="background-image: url(img/article.jpg);"></div>
                <div class="article__slider-preview swiper-slide" data-num="5" style="background-image: url(img/article.jpg);"></div>
                <div class="article__slider-preview swiper-slide" data-num="6" style="background-image: url(img/article.jpg);"></div>
                <div class="article__slider-preview swiper-slide" data-num="7" style="background-image: url(img/article.jpg);"></div>
                <div class="article__slider-preview swiper-slide" data-num="8" style="background-image: url(img/article.jpg);"></div>
                <div class="article__slider-preview swiper-slide" data-num="9" style="background-image: url(img/article.jpg);"></div>
                <div class="article__slider-preview swiper-slide" data-num="10" style="background-image: url(img/article.jpg);"></div>
                <div class="article__slider-preview swiper-slide" data-num="11" style="background-image: url(img/article.jpg);"></div>
              </div>
            </div>
          </div>

          <div class="article__quote">
            <div class="article__quote-title">Цитата</div>
            <div class="article__quote-in">
              <img src="img/autor.png" alt="" class="article__quote-photo">
              <div class="article__quote-text">
              <svg class="article__quote-text-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <use href="#quotes"></use>
              </svg>
              Верь только в себя и свои силы! И никогда не сдаваться! Нет страшнее и сильнее соперника, чем ты сам! Вера только в себя и свои силы! И никогда не сдаваться! Нет страшнее и сильнее соперника, чем ты сам!</div>
              <svg class="article__quote-in-bottom" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448.75 44.63"><path vector-effect="non-scaling-stroke" d="M.13,0V2.51A9.5,9.5,0,0,0,9.63,12h42a10.5,10.5,0,0,1,10.5,10.5V43a1.5,1.5,0,0,0,2.32,1.26l46.92-30.55a10.5,10.5,0,0,1,5.73-1.7h322a9.5,9.5,0,0,0,9.5-9.5V0"></path></svg>
            </div>
            <div class="article__quote-autor">Александр Иванов, эксперт</div>
          </div>
          <div class="book">
            <div class="book__photo"><img src="img/book.png" alt=""></div>
            <div class="book__title">Книга “1001 <span>совет</span> альпинисту”</div>
            <div class="book__text">Верь только в себя и свои силы! И никогда не сдаваться! Нет страшнее и сильнее соперника, чем ты сам! Вера только в себя и свои силы! И никогда не сдаваться! Нет страшнее и сильнее соперника, чем ты сам!</div>
            <a href="#" class="link--button link--button--orange">
              <span class="link--button__text link--button__text--bg">Купить</span>
              <span class="link--button__text link--button__text--for">Купить</span>
            </a>
          </div>
        </div>
        <div class="article__rcol">
          <h2 class="other-items__header">Другие вопросы в этой категории</h2>
          <ol class="other-items__list">
              <a href="#"><li>Восхождение на Арарат. Как спланировать маршрут</li></a>
              <a href="#"><li>Про мембраны Gore-Tex: история, технологии, виды</li></a>
              <a href="#"><li>Что брать в путешествие. Подборка списков снаряжения</li></a>
              <a href="#"><li>Маршруты для зимних походов</li></a>
              <a href="#"><li>Топ-6 непромокаемых рюкзаков и сумок для осени</li></a>
              <a href="#"><li>Топ-6 непромокаемых рюкзаков и сумок для осени</li></a>
          </ol>
        </div>
      </div>
    </div>
</section>

<div class="blog__themes-wrap blog__themes-wrap--articles">
  <section class="blog__themes js-blog-slider-items">
    <div class="container">
      <div class="grid-guide-blog-container">
        <div class="from-guide__header">
          Больше от этого автора
          <div class="blog-items__slider-nav-buttons-container">
            <button class="slider__nav-button slider__nav-button--prev">
              <div class="slider__nav-button-bg"></div>
              <svg class="slider__nav-button-icon" class="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><use href="#arrow-next"/></svg>
            </button>
            <button class="slider__nav-button slider__nav-button--next">
              <div class="slider__nav-button-bg"></div>
              <svg class="slider__nav-button-icon" class="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><use href="#arrow-next"/></svg>
            </button>
          </div>
        </div>
        <div class="grid-guide-blog swiper-container">
          <div class="swiper-wrapper">
          {{#each Blog }}
            <div class="grid-guide-blog__item swiper-slide">
              <div class="grid-guide-blog__item-photo-cotainer">
                <img class="grid-guide-blog__item-img" src={{ this }} alt="">
                <div class="gallery__item-info-label">
                  <span class="gallery__item-info-labelContent">Восхождение</span>
                </div>
                <button class="grid-guide-blog__favorites-button">
                  <svg class="grid-guide-blog__favorites-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <use href="#favorites-icon"/>
                  </svg>
                </button>
              </div>
              <div class="grid-guide-blog__item-content">
                <p class="grid-guide-blog__item-date">09.09.2020</p>
                <h4 class="grid-guide-blog__item-header">Как выбрать треккинговые ботинки?</h4>
                <p class="grid-guide-blog__item-text">Учимся выбирать самый ответственный элемент снаряжения в пешем походе — треккинговую обувь</p>
                <p class="grid-guide-blog__item-autor">Александр Иванов</p>
              </div>
              <a class="grid-guide-blog__item-link" href="#"></a>
            </div>
          {{/each }}
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="blog__themes js-blog-slider-items">
    <div class="container">
      <div class="grid-guide-blog-container">
        <div class="from-guide__header">
          Также в категории <span>“Снаряжение”</span>
          <div class="blog-items__slider-nav-buttons-container">
            <button class="slider__nav-button slider__nav-button--prev">
              <div class="slider__nav-button-bg"></div>
              <svg class="slider__nav-button-icon" class="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><use href="#arrow-next"/></svg>
            </button>
            <button class="slider__nav-button slider__nav-button--next">
              <div class="slider__nav-button-bg"></div>
              <svg class="slider__nav-button-icon" class="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><use href="#arrow-next"/></svg>
            </button>
          </div>
        </div>
        <div class="grid-guide-blog swiper-container">
          <div class="swiper-wrapper">
          {{#each Blog }}
            <div class="grid-guide-blog__item swiper-slide">
              <div class="grid-guide-blog__item-photo-cotainer">
                <img class="grid-guide-blog__item-img" src={{ this }} alt="">
                <div class="gallery__item-info-label">
                  <span class="gallery__item-info-labelContent">Восхождение</span>
                </div>
                <button class="grid-guide-blog__favorites-button">
                  <svg class="grid-guide-blog__favorites-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <use href="#favorites-icon"/>
                  </svg>
                </button>
              </div>
              <div class="grid-guide-blog__item-content">
                <p class="grid-guide-blog__item-date">09.09.2020</p>
                <h4 class="grid-guide-blog__item-header">Как выбрать треккинговые ботинки?</h4>
                <p class="grid-guide-blog__item-text">Учимся выбирать самый ответственный элемент снаряжения в пешем походе — треккинговую обувь</p>
                <p class="grid-guide-blog__item-autor">Александр Иванов</p>
              </div>
              <a class="grid-guide-blog__item-link" href="#"></a>
            </div>
          {{/each }}
          </div>
        </div>
      </div>
      <div class="blog__themes-button blog__themes-button--right blog__themes-button--not-mt">
        <a href="#" class="link--button link--button--blue">
          <span class="link--button__text link--button__text--bg">Перейти в раздел </span>
          <span class="link--button__text link--button__text--for">Перейти в раздел </span>
        </a>
      </div>
    </div>
  </section>
</div>