<section class="blog__themes">
  <div class="container">
    <div class="grid-catalog__form-container js-submit-message">
      <div class="grid-catalog__form-bg-container">
        <img class="grid-catalog__form-bg" src="./img/bg-shape.png" alt="bg-shape">
      </div>
      <div class="blog__form-wrapper grid-catalog__form-wrapper">
        <h3 class="blog__form-header grid-catalog__form-header">Узнавайте о новых турах и об изменениях первыми
        </h3>

        <form action="/" method="POST" class="blog__form" data-need-validation="">
          <div class="blog__form-group">
            <input id="email-input" type="email" class="blog__form-input grid-catalog__form-input" placeholder="Введите адрес эл. почты" required>
            
          </div>

          <button type="submit" class="blog__form-submit">
            <svg class="blog__form-submit-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <use href="#arrow"/>
            </svg>
          </button>
        </form>
      </div>

      <div class="blog__form-success-wrapper">
        <div class="blog__form-success-icon-container">
          <svg class="blog__form-success-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <use href="#success"/>
          </svg>
        </div>
        <h3 class="blog__form-success-header">Спасибо! Вы подписались на нашу рассылку
        </h3>
      </div>
    </div>
  </div>
</section>