<section class="p-blog">
    <div class="container">
        <h1 class="question-section__header">Блог</h1>
        <div class="blog__slider-wrap js-blog-slider" id="blog-slider">
          <div class="swiper-container blog__slider">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="blog__slide" style="background-image:url(img/blog-slide.jpg);">
                  <div class="blog__slide-info-label">
                    <span class="blog__slide-info-labelContent">Восхождение</span>
                    <button class="blog__slide-favorites-button">
                      <svg class="blog__slide-favorites-button-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <use href="#favorites-icon"></use>
                      </svg>
                    </button>
                  </div>
                  <div class="blog__slide-contentContainer">
                    <div class="blog__slide-content">
                      <p class="blog__slide-header">Про мембраны Gore-Tex: история, технологии, виды</p>
                      <p class="blog__slide-text">Gore-Tex — это семейство мембранных материалов для одежды, обуви и аксессуаров. Они делают вещь непромокаемой и одновременно дышащей, то есть способной отводить испарения с поверхности тела.</p>
                    </div>
                    <div class="blog__slide-author-info">
                      <img class="blog__slide-author-img" src="./img/author-avatar.jpg" alt="author">
                      <p class="blog__slide-author-name">Александр Иванов</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="blog__slide" style="background-image:url(img/blog-slide.jpg);">
                  <div class="blog__slide-info-label">
                    <span class="blog__slide-info-labelContent">Восхождение</span>
                    <button class="blog__slide-favorites-button">
                      <svg class="blog__slide-favorites-button-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <use href="#favorites-icon"></use>
                      </svg>
                    </button>
                  </div>
                  <div class="blog__slide-contentContainer">
                    <div class="blog__slide-content">
                      <p class="blog__slide-header">Про мембраны Gore-Tex: история, технологии, виды</p>
                      <p class="blog__slide-text">Gore-Tex — это семейство мембранных материалов для одежды, обуви и аксессуаров. Они делают вещь непромокаемой и одновременно дышащей, то есть способной отводить испарения с поверхности тела.</p>
                    </div>
                    <div class="blog__slide-author-info">
                      <img class="blog__slide-author-img" src="./img/author-avatar.jpg" alt="author">
                      <p class="blog__slide-author-name">Александр Иванов</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="blog__slide" style="background-image:url(img/blog-slide.jpg);">
                  <div class="blog__slide-info-label">
                    <span class="blog__slide-info-labelContent">Восхождение</span>
                    <button class="blog__slide-favorites-button">
                      <svg class="blog__slide-favorites-button-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <use href="#favorites-icon"></use>
                      </svg>
                    </button>
                  </div>
                  <div class="blog__slide-contentContainer">
                    <div class="blog__slide-content">
                      <p class="blog__slide-header">Про мембраны Gore-Tex: история, технологии, виды</p>
                      <p class="blog__slide-text">Gore-Tex — это семейство мембранных материалов для одежды, обуви и аксессуаров. Они делают вещь непромокаемой и одновременно дышащей, то есть способной отводить испарения с поверхности тела.</p>
                    </div>
                    <div class="blog__slide-author-info">
                      <img class="blog__slide-author-img" src="./img/author-avatar.jpg" alt="author">
                      <p class="blog__slide-author-name">Александр Иванов</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="blog__slide" style="background-image:url(img/blog-slide.jpg);">
                  <div class="blog__slide-info-label">
                    <span class="blog__slide-info-labelContent">Восхождение</span>
                    <button class="blog__slide-favorites-button">
                      <svg class="blog__slide-favorites-button-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <use href="#favorites-icon"></use>
                      </svg>
                    </button>
                  </div>
                  <div class="blog__slide-contentContainer">
                    <div class="blog__slide-content">
                      <p class="blog__slide-header">Про мембраны Gore-Tex: история, технологии, виды</p>
                    </div>
                    <div class="blog__slide-author-info">
                      <img class="blog__slide-author-img" src="./img/author-avatar.jpg" alt="author">
                      <p class="blog__slide-author-name">Александр Иванов</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-pagination"></div>
            <div class="blog__slider-nav-buttons-container">
              <button class="slider__nav-button slider__nav-button--prev">
                <div class="slider__nav-button-bg">
                </div>
                <svg class="slider__nav-button-icon" class="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <use href="#arrow-next"/>
                </svg>
              </button>
              <button class="slider__nav-button slider__nav-button--next">
                <div class="slider__nav-button-bg">
                </div>
                <svg class="slider__nav-button-icon" class="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <use href="#arrow-next"/>
                </svg>
              </button>
            </div>
        </div>
      </div>
    </div>
</section>