<section class="equipment container">
  <h2 class="equipment__title">Снаряжение для путешествия</h2>
  <p class="equipment__subtitle">Внеси 5000 ₽, чтобы забронировать место в группе, остальную сумму в 1-й день тура.
    Первые места в группе дешевле, по мере её заполняемости цена будет расти до 36900 ₽</p>
  <div class="equipment__container">
    <div class="equipment__list">
      <div class="equipment__item">
        <div class="equipment__item-btn">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <use href="#clothes" />
          </svg>
          <h5>Одежда</h5>
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <use href="#icon-chevron" />
          </svg>
        </div>
        <div class="equipment__item-content">
          <label name="equipment-1" class="equipment__item-point">
            <input type="checkbox" name="equipment-1" id="equipment-1">
            <div class="equipment__itemcheckbox-false"></div>
            <p>Вместительный походный рюкзак</p>
            <p>800р</p>
          </label>
          <label name="equipment-1" class="equipment__item-point">
            <input type="checkbox" name="equipment-1" id="equipment-1">
            <div class="equipmen__item-checkbox-false"></div>
            <p>Термомайка </p>
            <p>100р</p>
          </label>
          <label name="equipment-1" class="equipment__item-point">
            <input type="checkbox" name="equipment-1" id="equipment-1">
            <div class="equipment__itemcheckbox-false"></div>
            <p>Флисовая кофта</p>
            <p>100р</p>
          </label>
          <label name="equipment-1" class="equipment__item-point">
            <input type="checkbox" name="equipment-1" id="equipment-1">
            <div class="equipment__itemcheckbox-false"></div>
            <p>Балаклава</p>
            <p>100р</p>
          </label>
        </div>

      </div>
      <div class="equipment__item">
        <div class="equipment__item-btn">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <use href="#clothes" />
          </svg>
          <h5>Одежда</h5>
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <use href="#icon-chevron" />
          </svg>
        </div>
        <div class="equipment__item-content">
          <label name="equipment-1" class="equipment__item-point">
            <input type="checkbox" name="equipment-1" id="equipment-1">
            <div class="equipment__itemcheckbox-false"></div>
            <p>Вместительный походный рюкзак</p>
            <p>800р</p>
          </label>
          <label name="equipment-1" class="equipment__item-point">
            <input type="checkbox" name="equipment-1" id="equipment-1">
            <div class="equipmen__item-checkbox-false"></div>
            <p>Термомайка </p>
            <p>100р</p>
          </label>
          <label name="equipment-1" class="equipment__item-point">
            <input type="checkbox" name="equipment-1" id="equipment-1">
            <div class="equipment__itemcheckbox-false"></div>
            <p>Флисовая кофта</p>
            <p>100р</p>
          </label>
          <label name="equipment-1" class="equipment__item-point">
            <input type="checkbox" name="equipment-1" id="equipment-1">
            <div class="equipment__itemcheckbox-false"></div>
            <p>Балаклава</p>
            <p>100р</p>
          </label>
        </div>

      </div>
      <div class="equipment__item">
        <div class="equipment__item-btn">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <use href="#clothes" />
          </svg>
          <h5>Одежда</h5>
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <use href="#icon-chevron" />
          </svg>
        </div>
        <div class="equipment__item-content">
          <label name="equipment-1" class="equipment__item-point">
            <input type="checkbox" name="equipment-1" id="equipment-1">
            <div class="equipment__itemcheckbox-false"></div>
            <p>Вместительный походный рюкзак</p>
            <p>800р</p>
          </label>
          <label name="equipment-1" class="equipment__item-point">
            <input type="checkbox" name="equipment-1" id="equipment-1">
            <div class="equipmen__item-checkbox-false"></div>
            <p>Термомайка </p>
            <p>100р</p>
          </label>
          <label name="equipment-1" class="equipment__item-point">
            <input type="checkbox" name="equipment-1" id="equipment-1">
            <div class="equipment__itemcheckbox-false"></div>
            <p>Флисовая кофта</p>
            <p>100р</p>
          </label>
          <label name="equipment-1" class="equipment__item-point">
            <input type="checkbox" name="equipment-1" id="equipment-1">
            <div class="equipment__itemcheckbox-false"></div>
            <p>Балаклава</p>
            <p>100р</p>
          </label>
        </div>

      </div>
    </div>
    <div class="equipment__description">
      <div class="equipment__description-inner">
        <div class="equipment__description-item">
          <img src="img/backpack.jpg" alt="Рюкзак">
          <div class="equipment__description-text">
            <h3>Вместительный походный рюкзак</h3>
          <p>Штурмовой рюкзак применяется как для восхождений, 
            так и для радиальных выходов без больших рюкзаков.Должно влезть: перекус, крем от загара, фотоаппарат, минимальная аптечка, вода или термос, иногда - дождевик или теплая кофта/куртка.Объём: 20-35 литров.</p>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</section>