<section class="faq faq--small">
    <div class="container">
      <h2 class="faq__header">ОТВЕТЫ НА ВОПРОСЫ</h2>
      <div class="faq__block faq__block--some">
        <div class="faq__block-header">Тренировки</div>
        <div class="faq__block-in">
          <div class="faq__block-in-title">Блок вопросов 1</div>
          <div class="faq__block-in-list js-accordion">
            <div class="faq__item js-accordion-item">
              <div class="faq__item-header js-accordion-btn">
                <div class="faq__item-header-name">Я новичок, с чего начать?</div>
                <span class="faq__item-header-icon-container">
                  <svg class="faq__item-header-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <use href="#icon-chevron"></use>
                  </svg>
                </span>
              </div>
              <div class="faq__item-in js-accordion-content">
                <div class="faq__item-in-text">Если это первое серьезное восхождение, то лучше поступить следующим образом. Купить носки, термобелье, флисовые перчатки и шапку, а остальное взять в прокат. В таком случае все необходимое снаряжение вы получите от 9 до 15 тыс руб. Это выгоднее всего! К сравнению один 80 л. рюкзак в магазине стоит 15 000 рублей. Мы отправим Вам видео-инструкцию по сбору снаряжения для начинающих.</div>
              </div>
            </div>
            <div class="faq__item js-accordion-item">
              <div class="faq__item-header js-accordion-btn">
                <div class="faq__item-header-name">Я новичок, с чего начать?</div>
                <span class="faq__item-header-icon-container">
                  <svg class="faq__item-header-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <use href="#icon-chevron"></use>
                  </svg>
                </span>
              </div>
              <div class="faq__item-in js-accordion-content">
                <div class="faq__item-in-text">Если это первое серьезное восхождение, то лучше поступить следующим образом. Купить носки, термобелье, флисовые перчатки и шапку, а остальное взять в прокат. В таком случае все необходимое снаряжение вы получите от 9 до 15 тыс руб. Это выгоднее всего! К сравнению один 80 л. рюкзак в магазине стоит 15 000 рублей. Мы отправим Вам видео-инструкцию по сбору снаряжения для начинающих.</div>
              </div>
            </div>
            <div class="faq__item js-accordion-item">
              <div class="faq__item-header js-accordion-btn">
                <div class="faq__item-header-name">Снаряжение</div>
                <span class="faq__item-header-icon-container">
                  <svg class="faq__item-header-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <use href="#icon-chevron"></use>
                  </svg>
                </span>
              </div>
              <div class="faq__item-in js-accordion-content">
                <div class="faq__item-in-text">Если это первое серьезное восхождение, то лучше поступить следующим образом. Купить носки, термобелье, флисовые перчатки и шапку, а остальное взять в прокат. В таком случае все необходимое снаряжение вы получите от 9 до 15 тыс руб. Это выгоднее всего! К сравнению один 80 л. рюкзак в магазине стоит 15 000 рублей. Мы отправим Вам видео-инструкцию по сбору снаряжения для начинающих.</div>
              </div>
            </div>
            <div class="faq__item js-accordion-item">
              <div class="faq__item-header js-accordion-btn">
                <div class="faq__item-header-name">Снаряжение</div>
                <span class="faq__item-header-icon-container">
                  <svg class="faq__item-header-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <use href="#icon-chevron"></use>
                  </svg>
                </span>
              </div>
              <div class="faq__item-in js-accordion-content">
                <div class="faq__item-in-text">Если это первое серьезное восхождение, то лучше поступить следующим образом. Купить носки, термобелье, флисовые перчатки и шапку, а остальное взять в прокат. В таком случае все необходимое снаряжение вы получите от 9 до 15 тыс руб. Это выгоднее всего! К сравнению один 80 л. рюкзак в магазине стоит 15 000 рублей. Мы отправим Вам видео-инструкцию по сбору снаряжения для начинающих.</div>
              </div>
            </div>
            <div class="faq__item js-accordion-item">
              <div class="faq__item-header js-accordion-btn">
                <div class="faq__item-header-name">Квалификация гидов</div>
                <span class="faq__item-header-icon-container">
                  <svg class="faq__item-header-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <use href="#icon-chevron"></use>
                  </svg>
                </span>
              </div>
              <div class="faq__item-in js-accordion-content">
                <div class="faq__item-in-text">Если это первое серьезное восхождение, то лучше поступить следующим образом. Купить носки, термобелье, флисовые перчатки и шапку, а остальное взять в прокат. В таком случае все необходимое снаряжение вы получите от 9 до 15 тыс руб. Это выгоднее всего! К сравнению один 80 л. рюкзак в магазине стоит 15 000 рублей. Мы отправим Вам видео-инструкцию по сбору снаряжения для начинающих.</div>
              </div>
            </div>
            <div class="faq__item js-accordion-item">
              <div class="faq__item-header js-accordion-btn">
                <div class="faq__item-header-name">Квалификация гидов</div>
                <span class="faq__item-header-icon-container">
                  <svg class="faq__item-header-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <use href="#icon-chevron"></use>
                  </svg>
                </span>
              </div>
              <div class="faq__item-in js-accordion-content">
                <div class="faq__item-in-text">Если это первое серьезное восхождение, то лучше поступить следующим образом. Купить носки, термобелье, флисовые перчатки и шапку, а остальное взять в прокат. В таком случае все необходимое снаряжение вы получите от 9 до 15 тыс руб. Это выгоднее всего! К сравнению один 80 л. рюкзак в магазине стоит 15 000 рублей. Мы отправим Вам видео-инструкцию по сбору снаряжения для начинающих.</div>
              </div>
            </div>
            <div class="faq__item js-accordion-item">
              <div class="faq__item-header js-accordion-btn">
                <div class="faq__item-header-name">Место встречи</div>
                <span class="faq__item-header-icon-container">
                  <svg class="faq__item-header-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <use href="#icon-chevron"></use>
                  </svg>
                </span>
              </div>
              <div class="faq__item-in js-accordion-content">
                <div class="faq__item-in-text">Если это первое серьезное восхождение, то лучше поступить следующим образом. Купить носки, термобелье, флисовые перчатки и шапку, а остальное взять в прокат. В таком случае все необходимое снаряжение вы получите от 9 до 15 тыс руб. Это выгоднее всего! К сравнению один 80 л. рюкзак в магазине стоит 15 000 рублей. Мы отправим Вам видео-инструкцию по сбору снаряжения для начинающих.</div>
              </div>
            </div>
            <div class="faq__item js-accordion-item">
              <div class="faq__item-header js-accordion-btn">
                <div class="faq__item-header-name">Место встречи</div>
                <span class="faq__item-header-icon-container">
                  <svg class="faq__item-header-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <use href="#icon-chevron"></use>
                  </svg>
                </span>
              </div>
              <div class="faq__item-in js-accordion-content">
                <div class="faq__item-in-text">Если это первое серьезное восхождение, то лучше поступить следующим образом. Купить носки, термобелье, флисовые перчатки и шапку, а остальное взять в прокат. В таком случае все необходимое снаряжение вы получите от 9 до 15 тыс руб. Это выгоднее всего! К сравнению один 80 л. рюкзак в магазине стоит 15 000 рублей. Мы отправим Вам видео-инструкцию по сбору снаряжения для начинающих.</div>
              </div>
            </div>
            <div class="faq__item js-accordion-item">
              <div class="faq__item-header js-accordion-btn">
                <div class="faq__item-header-name">Питание</div>
                <span class="faq__item-header-icon-container">
                  <svg class="faq__item-header-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <use href="#icon-chevron"></use>
                  </svg>
                </span>
              </div>
              <div class="faq__item-in js-accordion-content">
                <div class="faq__item-in-text">Если это первое серьезное восхождение, то лучше поступить следующим образом. Купить носки, термобелье, флисовые перчатки и шапку, а остальное взять в прокат. В таком случае все необходимое снаряжение вы получите от 9 до 15 тыс руб. Это выгоднее всего! К сравнению один 80 л. рюкзак в магазине стоит 15 000 рублей. Мы отправим Вам видео-инструкцию по сбору снаряжения для начинающих.</div>
              </div>
            </div>
            <div class="faq__item js-accordion-item">
              <div class="faq__item-header js-accordion-btn">
                <div class="faq__item-header-name">Питание</div>
                <span class="faq__item-header-icon-container">
                  <svg class="faq__item-header-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <use href="#icon-chevron"></use>
                  </svg>
                </span>
              </div>
              <div class="faq__item-in js-accordion-content">
                <div class="faq__item-in-text">Если это первое серьезное восхождение, то лучше поступить следующим образом. Купить носки, термобелье, флисовые перчатки и шапку, а остальное взять в прокат. В таком случае все необходимое снаряжение вы получите от 9 до 15 тыс руб. Это выгоднее всего! К сравнению один 80 л. рюкзак в магазине стоит 15 000 рублей. Мы отправим Вам видео-инструкцию по сбору снаряжения для начинающих.</div>
              </div>
            </div>
          </div>
          <div class="faq__block-in-title">Блок вопросов 2</div>
          <div class="faq__block-in-list js-accordion">
            <div class="faq__item js-accordion-item">
              <div class="faq__item-header js-accordion-btn">
                <div class="faq__item-header-name">Я новичок, с чего начать?</div>
                <span class="faq__item-header-icon-container">
                  <svg class="faq__item-header-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <use href="#icon-chevron"></use>
                  </svg>
                </span>
              </div>
              <div class="faq__item-in js-accordion-content">
                <div class="faq__item-in-text">Если это первое серьезное восхождение, то лучше поступить следующим образом. Купить носки, термобелье, флисовые перчатки и шапку, а остальное взять в прокат. В таком случае все необходимое снаряжение вы получите от 9 до 15 тыс руб. Это выгоднее всего! К сравнению один 80 л. рюкзак в магазине стоит 15 000 рублей. Мы отправим Вам видео-инструкцию по сбору снаряжения для начинающих.</div>
              </div>
            </div>
            <div class="faq__item js-accordion-item">
              <div class="faq__item-header js-accordion-btn">
                <div class="faq__item-header-name">Я новичок, с чего начать?</div>
                <span class="faq__item-header-icon-container">
                  <svg class="faq__item-header-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <use href="#icon-chevron"></use>
                  </svg>
                </span>
              </div>
              <div class="faq__item-in js-accordion-content">
                <div class="faq__item-in-text">Если это первое серьезное восхождение, то лучше поступить следующим образом. Купить носки, термобелье, флисовые перчатки и шапку, а остальное взять в прокат. В таком случае все необходимое снаряжение вы получите от 9 до 15 тыс руб. Это выгоднее всего! К сравнению один 80 л. рюкзак в магазине стоит 15 000 рублей. Мы отправим Вам видео-инструкцию по сбору снаряжения для начинающих.</div>
              </div>
            </div>
            <div class="faq__item js-accordion-item">
              <div class="faq__item-header js-accordion-btn">
                <div class="faq__item-header-name">Снаряжение</div>
                <span class="faq__item-header-icon-container">
                  <svg class="faq__item-header-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <use href="#icon-chevron"></use>
                  </svg>
                </span>
              </div>
              <div class="faq__item-in js-accordion-content">
                <div class="faq__item-in-text">Если это первое серьезное восхождение, то лучше поступить следующим образом. Купить носки, термобелье, флисовые перчатки и шапку, а остальное взять в прокат. В таком случае все необходимое снаряжение вы получите от 9 до 15 тыс руб. Это выгоднее всего! К сравнению один 80 л. рюкзак в магазине стоит 15 000 рублей. Мы отправим Вам видео-инструкцию по сбору снаряжения для начинающих.</div>
              </div>
            </div>
            <div class="faq__item js-accordion-item">
              <div class="faq__item-header js-accordion-btn">
                <div class="faq__item-header-name">Снаряжение</div>
                <span class="faq__item-header-icon-container">
                  <svg class="faq__item-header-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <use href="#icon-chevron"></use>
                  </svg>
                </span>
              </div>
              <div class="faq__item-in js-accordion-content">
                <div class="faq__item-in-text">Если это первое серьезное восхождение, то лучше поступить следующим образом. Купить носки, термобелье, флисовые перчатки и шапку, а остальное взять в прокат. В таком случае все необходимое снаряжение вы получите от 9 до 15 тыс руб. Это выгоднее всего! К сравнению один 80 л. рюкзак в магазине стоит 15 000 рублей. Мы отправим Вам видео-инструкцию по сбору снаряжения для начинающих.</div>
              </div>
            </div>
            <div class="faq__item js-accordion-item">
              <div class="faq__item-header js-accordion-btn">
                <div class="faq__item-header-name">Квалификация гидов</div>
                <span class="faq__item-header-icon-container">
                  <svg class="faq__item-header-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <use href="#icon-chevron"></use>
                  </svg>
                </span>
              </div>
              <div class="faq__item-in js-accordion-content">
                <div class="faq__item-in-text">Если это первое серьезное восхождение, то лучше поступить следующим образом. Купить носки, термобелье, флисовые перчатки и шапку, а остальное взять в прокат. В таком случае все необходимое снаряжение вы получите от 9 до 15 тыс руб. Это выгоднее всего! К сравнению один 80 л. рюкзак в магазине стоит 15 000 рублей. Мы отправим Вам видео-инструкцию по сбору снаряжения для начинающих.</div>
              </div>
            </div>
            <div class="faq__item js-accordion-item">
              <div class="faq__item-header js-accordion-btn">
                <div class="faq__item-header-name">Квалификация гидов</div>
                <span class="faq__item-header-icon-container">
                  <svg class="faq__item-header-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <use href="#icon-chevron"></use>
                  </svg>
                </span>
              </div>
              <div class="faq__item-in js-accordion-content">
                <div class="faq__item-in-text">Если это первое серьезное восхождение, то лучше поступить следующим образом. Купить носки, термобелье, флисовые перчатки и шапку, а остальное взять в прокат. В таком случае все необходимое снаряжение вы получите от 9 до 15 тыс руб. Это выгоднее всего! К сравнению один 80 л. рюкзак в магазине стоит 15 000 рублей. Мы отправим Вам видео-инструкцию по сбору снаряжения для начинающих.</div>
              </div>
            </div>
            <div class="faq__item js-accordion-item">
              <div class="faq__item-header js-accordion-btn">
                <div class="faq__item-header-name">Место встречи</div>
                <span class="faq__item-header-icon-container">
                  <svg class="faq__item-header-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <use href="#icon-chevron"></use>
                  </svg>
                </span>
              </div>
              <div class="faq__item-in js-accordion-content">
                <div class="faq__item-in-text">Если это первое серьезное восхождение, то лучше поступить следующим образом. Купить носки, термобелье, флисовые перчатки и шапку, а остальное взять в прокат. В таком случае все необходимое снаряжение вы получите от 9 до 15 тыс руб. Это выгоднее всего! К сравнению один 80 л. рюкзак в магазине стоит 15 000 рублей. Мы отправим Вам видео-инструкцию по сбору снаряжения для начинающих.</div>
              </div>
            </div>
            <div class="faq__item js-accordion-item">
              <div class="faq__item-header js-accordion-btn">
                <div class="faq__item-header-name">Место встречи</div>
                <span class="faq__item-header-icon-container">
                  <svg class="faq__item-header-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <use href="#icon-chevron"></use>
                  </svg>
                </span>
              </div>
              <div class="faq__item-in js-accordion-content">
                <div class="faq__item-in-text">Если это первое серьезное восхождение, то лучше поступить следующим образом. Купить носки, термобелье, флисовые перчатки и шапку, а остальное взять в прокат. В таком случае все необходимое снаряжение вы получите от 9 до 15 тыс руб. Это выгоднее всего! К сравнению один 80 л. рюкзак в магазине стоит 15 000 рублей. Мы отправим Вам видео-инструкцию по сбору снаряжения для начинающих.</div>
              </div>
            </div>
            <div class="faq__item js-accordion-item">
              <div class="faq__item-header js-accordion-btn">
                <div class="faq__item-header-name">Питание</div>
                <span class="faq__item-header-icon-container">
                  <svg class="faq__item-header-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <use href="#icon-chevron"></use>
                  </svg>
                </span>
              </div>
              <div class="faq__item-in js-accordion-content">
                <div class="faq__item-in-text">Если это первое серьезное восхождение, то лучше поступить следующим образом. Купить носки, термобелье, флисовые перчатки и шапку, а остальное взять в прокат. В таком случае все необходимое снаряжение вы получите от 9 до 15 тыс руб. Это выгоднее всего! К сравнению один 80 л. рюкзак в магазине стоит 15 000 рублей. Мы отправим Вам видео-инструкцию по сбору снаряжения для начинающих.</div>
              </div>
            </div>
            <div class="faq__item js-accordion-item">
              <div class="faq__item-header js-accordion-btn">
                <div class="faq__item-header-name">Питание</div>
                <span class="faq__item-header-icon-container">
                  <svg class="faq__item-header-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <use href="#icon-chevron"></use>
                  </svg>
                </span>
              </div>
              <div class="faq__item-in js-accordion-content">
                <div class="faq__item-in-text">Если это первое серьезное восхождение, то лучше поступить следующим образом. Купить носки, термобелье, флисовые перчатки и шапку, а остальное взять в прокат. В таком случае все необходимое снаряжение вы получите от 9 до 15 тыс руб. Это выгоднее всего! К сравнению один 80 л. рюкзак в магазине стоит 15 000 рублей. Мы отправим Вам видео-инструкцию по сбору снаряжения для начинающих.</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="faq__block">
        <div class="faq__block-header">Гиды</div>
        <div class="faq__block-in">
          <div class="faq__block-in-list js-accordion">
            <div class="faq__item js-accordion-item">
              <div class="faq__item-header js-accordion-btn">
                <div class="faq__item-header-name">Я новичок, с чего начать?</div>
                <span class="faq__item-header-icon-container">
                  <svg class="faq__item-header-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <use href="#icon-chevron"></use>
                  </svg>
                </span>
              </div>
              <div class="faq__item-in js-accordion-content">
                <div class="faq__item-in-text">Если это первое серьезное восхождение, то лучше поступить следующим образом. Купить носки, термобелье, флисовые перчатки и шапку, а остальное взять в прокат. В таком случае все необходимое снаряжение вы получите от 9 до 15 тыс руб. Это выгоднее всего! К сравнению один 80 л. рюкзак в магазине стоит 15 000 рублей. Мы отправим Вам видео-инструкцию по сбору снаряжения для начинающих.</div>
              </div>
            </div>
            <div class="faq__item js-accordion-item">
              <div class="faq__item-header js-accordion-btn">
                <div class="faq__item-header-name">Я новичок, с чего начать?</div>
                <span class="faq__item-header-icon-container">
                  <svg class="faq__item-header-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <use href="#icon-chevron"></use>
                  </svg>
                </span>
              </div>
              <div class="faq__item-in js-accordion-content">
                <div class="faq__item-in-text">Если это первое серьезное восхождение, то лучше поступить следующим образом. Купить носки, термобелье, флисовые перчатки и шапку, а остальное взять в прокат. В таком случае все необходимое снаряжение вы получите от 9 до 15 тыс руб. Это выгоднее всего! К сравнению один 80 л. рюкзак в магазине стоит 15 000 рублей. Мы отправим Вам видео-инструкцию по сбору снаряжения для начинающих.</div>
              </div>
            </div>
            <div class="faq__item js-accordion-item">
              <div class="faq__item-header js-accordion-btn">
                <div class="faq__item-header-name">Снаряжение</div>
                <span class="faq__item-header-icon-container">
                  <svg class="faq__item-header-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <use href="#icon-chevron"></use>
                  </svg>
                </span>
              </div>
              <div class="faq__item-in js-accordion-content">
                <div class="faq__item-in-text">Если это первое серьезное восхождение, то лучше поступить следующим образом. Купить носки, термобелье, флисовые перчатки и шапку, а остальное взять в прокат. В таком случае все необходимое снаряжение вы получите от 9 до 15 тыс руб. Это выгоднее всего! К сравнению один 80 л. рюкзак в магазине стоит 15 000 рублей. Мы отправим Вам видео-инструкцию по сбору снаряжения для начинающих.</div>
              </div>
            </div>
            <div class="faq__item js-accordion-item">
              <div class="faq__item-header js-accordion-btn">
                <div class="faq__item-header-name">Снаряжение</div>
                <span class="faq__item-header-icon-container">
                  <svg class="faq__item-header-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <use href="#icon-chevron"></use>
                  </svg>
                </span>
              </div>
              <div class="faq__item-in js-accordion-content">
                <div class="faq__item-in-text">Если это первое серьезное восхождение, то лучше поступить следующим образом. Купить носки, термобелье, флисовые перчатки и шапку, а остальное взять в прокат. В таком случае все необходимое снаряжение вы получите от 9 до 15 тыс руб. Это выгоднее всего! К сравнению один 80 л. рюкзак в магазине стоит 15 000 рублей. Мы отправим Вам видео-инструкцию по сбору снаряжения для начинающих.</div>
              </div>
            </div>
            <div class="faq__item js-accordion-item">
              <div class="faq__item-header js-accordion-btn">
                <div class="faq__item-header-name">Квалификация гидов</div>
                <span class="faq__item-header-icon-container">
                  <svg class="faq__item-header-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <use href="#icon-chevron"></use>
                  </svg>
                </span>
              </div>
              <div class="faq__item-in js-accordion-content">
                <div class="faq__item-in-text">Если это первое серьезное восхождение, то лучше поступить следующим образом. Купить носки, термобелье, флисовые перчатки и шапку, а остальное взять в прокат. В таком случае все необходимое снаряжение вы получите от 9 до 15 тыс руб. Это выгоднее всего! К сравнению один 80 л. рюкзак в магазине стоит 15 000 рублей. Мы отправим Вам видео-инструкцию по сбору снаряжения для начинающих.</div>
              </div>
            </div>
            <div class="faq__item js-accordion-item">
              <div class="faq__item-header js-accordion-btn">
                <div class="faq__item-header-name">Квалификация гидов</div>
                <span class="faq__item-header-icon-container">
                  <svg class="faq__item-header-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <use href="#icon-chevron"></use>
                  </svg>
                </span>
              </div>
              <div class="faq__item-in js-accordion-content">
                <div class="faq__item-in-text">Если это первое серьезное восхождение, то лучше поступить следующим образом. Купить носки, термобелье, флисовые перчатки и шапку, а остальное взять в прокат. В таком случае все необходимое снаряжение вы получите от 9 до 15 тыс руб. Это выгоднее всего! К сравнению один 80 л. рюкзак в магазине стоит 15 000 рублей. Мы отправим Вам видео-инструкцию по сбору снаряжения для начинающих.</div>
              </div>
            </div>
            <div class="faq__item js-accordion-item">
              <div class="faq__item-header js-accordion-btn">
                <div class="faq__item-header-name">Место встречи</div>
                <span class="faq__item-header-icon-container">
                  <svg class="faq__item-header-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <use href="#icon-chevron"></use>
                  </svg>
                </span>
              </div>
              <div class="faq__item-in js-accordion-content">
                <div class="faq__item-in-text">Если это первое серьезное восхождение, то лучше поступить следующим образом. Купить носки, термобелье, флисовые перчатки и шапку, а остальное взять в прокат. В таком случае все необходимое снаряжение вы получите от 9 до 15 тыс руб. Это выгоднее всего! К сравнению один 80 л. рюкзак в магазине стоит 15 000 рублей. Мы отправим Вам видео-инструкцию по сбору снаряжения для начинающих.</div>
              </div>
            </div>
            <div class="faq__item js-accordion-item">
              <div class="faq__item-header js-accordion-btn">
                <div class="faq__item-header-name">Место встречи</div>
                <span class="faq__item-header-icon-container">
                  <svg class="faq__item-header-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <use href="#icon-chevron"></use>
                  </svg>
                </span>
              </div>
              <div class="faq__item-in js-accordion-content">
                <div class="faq__item-in-text">Если это первое серьезное восхождение, то лучше поступить следующим образом. Купить носки, термобелье, флисовые перчатки и шапку, а остальное взять в прокат. В таком случае все необходимое снаряжение вы получите от 9 до 15 тыс руб. Это выгоднее всего! К сравнению один 80 л. рюкзак в магазине стоит 15 000 рублей. Мы отправим Вам видео-инструкцию по сбору снаряжения для начинающих.</div>
              </div>
            </div>
            <div class="faq__item js-accordion-item">
              <div class="faq__item-header js-accordion-btn">
                <div class="faq__item-header-name">Питание</div>
                <span class="faq__item-header-icon-container">
                  <svg class="faq__item-header-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <use href="#icon-chevron"></use>
                  </svg>
                </span>
              </div>
              <div class="faq__item-in js-accordion-content">
                <div class="faq__item-in-text">Если это первое серьезное восхождение, то лучше поступить следующим образом. Купить носки, термобелье, флисовые перчатки и шапку, а остальное взять в прокат. В таком случае все необходимое снаряжение вы получите от 9 до 15 тыс руб. Это выгоднее всего! К сравнению один 80 л. рюкзак в магазине стоит 15 000 рублей. Мы отправим Вам видео-инструкцию по сбору снаряжения для начинающих.</div>
              </div>
            </div>
            <div class="faq__item js-accordion-item">
              <div class="faq__item-header js-accordion-btn">
                <div class="faq__item-header-name">Питание</div>
                <span class="faq__item-header-icon-container">
                  <svg class="faq__item-header-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <use href="#icon-chevron"></use>
                  </svg>
                </span>
              </div>
              <div class="faq__item-in js-accordion-content">
                <div class="faq__item-in-text">Если это первое серьезное восхождение, то лучше поступить следующим образом. Купить носки, термобелье, флисовые перчатки и шапку, а остальное взять в прокат. В таком случае все необходимое снаряжение вы получите от 9 до 15 тыс руб. Это выгоднее всего! К сравнению один 80 л. рюкзак в магазине стоит 15 000 рублей. Мы отправим Вам видео-инструкцию по сбору снаряжения для начинающих.</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>