<section class="full-item-slider js-full-small-slider">
	<div class="container">
		<div class="swiper-container">
			<div class="full-item-slider__items swiper-wrapper">
				
				<div class="full-item-slider__item swiper-slide" style="background-image: url('img/small-slider/slide1.jpg');">
					
					<div class="full-item-slider__item-video js-video-modal-button" data-video-id="CNpqVWhgdZs"
						data-video-img-src="img/small-slider/slide1.jpg"></div>
				</div>
				<div class="full-item-slider__item swiper-slide" style="background-image: url('img/small-slider/slide2.jpg');">
					<div class="full-item-slider__item-video-icn">{{> play-button }}</div>
					<button class="full-item-slider__item-video js-video-modal-button" data-video-id="CNpqVWhgdZs"
						data-video-img-src="img/small-slider/slide2.jpg"></button>
				</div>
				
			</div>
		</div>
	</div>
</section>