<section class="i-about js-tabs">
    <div class="container">
      <div class="i-about__in">
        <div class="i-about__btns">
          <a href="#" class="i-about__btn active js-tabs-nav">Описание тура</a>
          <a href="#" class="i-about__btn js-tabs-nav">Безопасность</a>
          <a href="#" class="i-about__btn js-tabs-nav">Техническая сложность</a>
          <a href="#" class="i-about__btn js-tabs-nav">Комфорт</a>
        </div>
        <div class="i-about__items">
          <div class="i-about__item active js-tabs-item">
            <h2 class="i-about__header">Восхождение для новичков: первое восхождение в горы</h2>
            <p class="i-about__text">Подготовим вас к первому восхождению, предоставим снаряжение, а во время поездки обеспечим всем, проживанием, питанием, гиды обучат альпинизму и торжественно вручат значок альпиниста России. Нужно ли тренироваться перед восхождением? Обязательно! Если вы находитесь в хорошей физической форме и постоянно занимаетесь спортом — вам будет легче. Если же спортсменом вас можно назвать с большой натяжкой, но вы нацелены во что бы то ни стало покорить самую высокую точку Европы или главную гору Алтая, не отчаивайтесь! В любом случае первое правило подготовки новичков — постоянные и усердные тренировки.</p>
          </div>
          <div class="i-about__item js-tabs-item">
            <h2 class="i-about__header">Восхождение для новичков: первое восхождение в горы</h2>
            <p class="i-about__text">Подготовим вас к первому восхождению, предоставим снаряжение, а во время поездки обеспечим всем, проживанием, питанием, гиды обучат альпинизму и торжественно вручат значок альпиниста России. Нужно ли тренироваться перед восхождением? Обязательно! Если вы находитесь в хорошей физической форме и постоянно занимаетесь спортом — вам будет легче. Если же спортсменом вас можно назвать с большой натяжкой, но вы нацелены во что бы то ни стало покорить самую высокую точку Европы или главную гору Алтая, не отчаивайтесь! В любом случае первое правило подготовки новичков — постоянные и усердные тренировки.</p>
          </div>
          <div class="i-about__item js-tabs-item">
            <h2 class="i-about__header">Восхождение для новичков: первое восхождение в горы</h2>
            <p class="i-about__text">Подготовим вас к первому восхождению, предоставим снаряжение, а во время поездки обеспечим всем, проживанием, питанием, гиды обучат альпинизму и торжественно вручат значок альпиниста России. Нужно ли тренироваться перед восхождением? Обязательно! Если вы находитесь в хорошей физической форме и постоянно занимаетесь спортом — вам будет легче. Если же спортсменом вас можно назвать с большой натяжкой, но вы нацелены во что бы то ни стало покорить самую высокую точку Европы или главную гору Алтая, не отчаивайтесь! В любом случае первое правило подготовки новичков — постоянные и усердные тренировки.</p>
          </div>
          <div class="i-about__item js-tabs-item">
            <h2 class="i-about__header">Восхождение для новичков: первое восхождение в горы</h2>
            <p class="i-about__text">Подготовим вас к первому восхождению, предоставим снаряжение, а во время поездки обеспечим всем, проживанием, питанием, гиды обучат альпинизму и торжественно вручат значок альпиниста России. Нужно ли тренироваться перед восхождением? Обязательно! Если вы находитесь в хорошей физической форме и постоянно занимаетесь спортом — вам будет легче. Если же спортсменом вас можно назвать с большой натяжкой, но вы нацелены во что бы то ни стало покорить самую высокую точку Европы или главную гору Алтая, не отчаивайтесь! В любом случае первое правило подготовки новичков — постоянные и усердные тренировки.</p>
          </div>
        </div>
      </div>
    </div>
</section>
