<section class="prepare">
  <div class="container">
    <h2 class="prepare__title">Подготовка к туру</h2>
    <div class="prepare__text">Мы подготовили самый структурированный пошаговый план подготовки к туру, где ты найдешь:</div>
    <div class="prepare__list">
      <div class="prepare__left">
        <div class="prepare__video" style="background-image:url(img/ildar.jpg);">
          <div class="prepare__video-about">
            <div class="prepare__video-about-in">
              <div class="prepare__video-name">Ильдар Халиуллин</div>
              <div class="prepare__video-text">Обучает подготовке к первой экспедиции Мастер спорта по альпинизму, покорил все вершины</div>
            </div>
            <div class="prepare__video-play-button">
              {{> play-button }}
            </div>
            <button class="gallery__item-video-modal-button js-video-modal-button" data-video-id="CNpqVWhgdZs" data-video-img-src="./img/gallery__item-1.jpg"></button>
          </div>
        </div>
      </div>
      <div class="prepare__right">
        <button class="link--button link--button--prepare js-video-modal-button" data-video-id="CNpqVWhgdZs" data-video-img-src="./img/about-video.jpg">
          <span class="link--button__text link--button__text--bg">
            <span class="link--button__icon-container">
              <span class="link--button__icon">
                {{> play-button }}
              </span>
            </span>
            <span>Трейлер обучения</span>
          </span>
          <span class="link--button__text link--button__text--for">
            <span class="link--button__icon-container">
              <span class="link--button__icon">
                {{> play-button }}
              </span>
            </span>
            <span>Трейлер обучения</span>
          </span>
        </button>
        <div class="prepare__plan">
          <div class="prepare__plan-in">
            <div class="prepare__plan-title">План уроков</div>
            <ol class="prepare__plan-item js-accordion">
              <li class="prepare__plan-item-in js-accordion-item">
                <div class="prepare__plan-item-header js-accordion-btn">Как подготовиться к первому восхождению?</div>
                <div class="prepare__plan-item-info js-accordion-content">Нужно ли тренироваться перед восхождением? Обязательно! Если вы находитесь в хорошей...</div>
              </li>
              <li class="prepare__plan-item-in js-accordion-item">
                <div class="prepare__plan-item-header js-accordion-btn">Как подготовиться к первому восхождению?</div>
                <div class="prepare__plan-item-info js-accordion-content">Нужно ли тренироваться перед восхождением? Обязательно! Если вы находитесь в хорошей...</div>
              </li>
              <li class="prepare__plan-item-in js-accordion-item">
                <div class="prepare__plan-item-header js-accordion-btn">Как подготовиться к первому восхождению?</div>
                <div class="prepare__plan-item-info js-accordion-content">Нужно ли тренироваться перед восхождением? Обязательно! Если вы находитесь в хорошей...</div>
              </li>
              <li class="prepare__plan-item-in js-accordion-item">
                <div class="prepare__plan-item-header js-accordion-btn">Как подготовиться к первому восхождению?</div>
                <div class="prepare__plan-item-info js-accordion-content">Нужно ли тренироваться перед восхождением? Обязательно! Если вы находитесь в хорошей...</div>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <div class="prepare__bottom">
      <div class="prepare__bottom-left">
        <div class="prepare__bottom-item">
          <div class="prepare__bottom-item-img"><img src="img/list.svg" alt="" style="top:3px;"></div>
          <div class="prepare__bottom-item-text">10 планов тренировок для любого уровня подготовки</div>
        </div>
         <div class="prepare__bottom-item">
          <div class="prepare__bottom-item-img"><img src="img/steps.svg" alt="" style="top:7px;"></div>
          <div class="prepare__bottom-item-text">4 пошаговые инструкции и шаблоны по сбору снаряжения</div>
        </div>
         <div class="prepare__bottom-item">
          <div class="prepare__bottom-item-img"><img src="img/guarant.svg" alt=""></div>
          <div class="prepare__bottom-item-text">Узнаешь как гарантированно взойти на Эльбрус</div>
        </div>
      </div>
      <a href="#" class="prepare__bottom-download">
        <svg class="prepare__bottom-download-icon" class="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <use href="#download"/>
        </svg>
        Начни подготовку бесплатно
      </a>
    </div>
  </div>
</section>