<section class="program">
    <div class="container">
        <div class="program__header">Программа тура</div>
        <div class="program__text">В программу обязательно входит встреча группы на ЖД вокзале или Аэропорту. Далее заселенеие в гостиницу. Перед туром вы обязательно пройдете обучение и адаптацию к высоте</div>
        <div class="program__in js-tabs">
          <div class="program__btns">
            <a href="#" class="program__btn js-tabs-nav"><span class="program__btn-text">1<span>день</span></span></a>
            <a href="#" class="program__btn js-tabs-nav"><span class="program__btn-text">2<span>день</span></span></a>
            <a href="#" class="program__btn js-tabs-nav"><span class="program__btn-text">3-5<span>день</span></span></a>
            <a href="#" class="program__btn js-tabs-nav"><span class="program__btn-text">6<span>день</span></span></a>
            <a href="#" class="program__btn js-tabs-nav"><span class="program__btn-text">7<span>день</span></span></a>
            <a href="#" class="program__btn js-tabs-nav"><span class="program__btn-text">8<span>день</span></span></a>
            <a href="#" class="program__btn js-tabs-nav"><span class="program__btn-text">9<span>день</span></span></a>
            <a href="#" class="program__btn js-tabs-nav"><span class="program__btn-text">10<span>день</span></span></a>
            <a href="#" class="program__btn js-tabs-nav"><span class="program__btn-text">11<span>день</span></span></a>
            <a href="#" class="program__btn js-tabs-nav"><span class="program__btn-text">12<span>день</span></span></a>
            <a href="#" class="program__btn js-tabs-nav"><span class="program__btn-text">13<span>день</span></span></a>
            <a href="#" class="program__btn js-tabs-nav"><span class="program__btn-text">14<span>день</span></span></a>
            <a href="#" class="program__btn js-tabs-nav"><span class="program__btn-text">15<span>день</span></span></a>
            <a href="#" class="program__btn js-tabs-nav"><span class="program__btn-text">16<span>день</span></span></a>
            <a href="#" class="program__btn js-tabs-nav"><span class="program__btn-text">17<span>день</span></span></a>
            <a href="#" class="program__btn js-tabs-nav"><span class="program__btn-text">18<span>день</span></span></a>
            <a href="#" class="program__btn js-tabs-nav"><span class="program__btn-text">19<span>день</span></span></a>
            <a href="#" class="program__btn js-tabs-nav"><span class="program__btn-text">20<span>день</span></span></a>
            <a href="#" class="program__btn js-tabs-nav"><span class="program__btn-text">21<span>день</span></span></a>
            <a href="#" class="program__btn js-tabs-nav"><span class="program__btn-text">22<span>день</span></span></a>
          </div>
          <div class="program__items">
            <div class="program__item js-tabs-item">
              <div class="program__item-video">
                <div class="program__video-container">
                  <img class="program__video-bg" src="./img/tour-team.jpg" alt="bg-shape">
                  <div class="program__video-preview">
                    <img class="program__video" src="./img/tour-team.jpg" alt="about video">
                    <div class="program__video-preview-mask">
                    </div>
                    <div class="program__video-play-button">
                      {{> play-button }}
                    </div>
                    <button class="program__item-video-modal-button js-video-modal-button" data-video-id="CNpqVWhgdZs" data-video-img-src="./img/tour-team.jpg">
                    </button>
                  </div>
                </div>
              </div>
              <div class="program__item-info">
                <h3 class="program__item-header">Встреча группы. Обучение</h3>
                <div class="program__item-text">
                  <p>Встреча группы в зале ожидания железнодорожного вокзала города Пятигорска. Раздача продуктов и общественного снаряжения (верёвки, горелки, палатки). Далее — заезжаем в пункт проката снаряжения. Обед в кафе на поляне Чегет (кавказская кухня: чебуреки, шашлыки, супы). В посёлок Эльбрус приедем ближе к вечеру и сразу в путь — нас ждёт переход до места ночёвки у нарзанного источника. По прибытии — знакомство группы, инструктаж участников.</p>
                  <p><b>В этот день вы научитесь:</b> выбирать место для лагеря, устанавливать палатки на наклонной местности, а также получите вводные сведения о выживании в горах.</p>
                </div>
                <a href="#callback-modal" class="link--button link--button--blue js-open-modal">
                  <span class="link--button__text link--button__text--bg">Хочу записаться</span>
                  <span class="link--button__text link--button__text--for">Хочу записаться</span>
                </a>
              </div>
            </div>
            <div class="program__item js-tabs-item">
              <div class="program__item-video">
                <div class="program__video-container">
                  <img class="program__video-bg" src="./img/tour-team.jpg" alt="bg-shape">
                  <div class="program__video-preview">
                    <img class="program__video" src="./img/tour-team.jpg" alt="about video">
                    <div class="program__video-preview-mask">
                    </div>
                    <div class="program__video-play-button">
                      {{> play-button }}
                    </div>
                    <button class="program__item-video-modal-button js-video-modal-button" data-video-id="CNpqVWhgdZs" data-video-img-src="./img/tour-team.jpg">
                    </button>
                  </div>
                </div>
              </div>
              <div class="program__item-info">
                <h3 class="program__item-header">Встреча группы. Обучение</h3>
                <div class="program__item-text">
                  <p>Встреча группы в зале ожидания железнодорожного вокзала города Пятигорска. Раздача продуктов и общественного снаряжения (верёвки, горелки, палатки). Далее — заезжаем в пункт проката снаряжения. Обед в кафе на поляне Чегет (кавказская кухня: чебуреки, шашлыки, супы). В посёлок Эльбрус приедем ближе к вечеру и сразу в путь — нас ждёт переход до места ночёвки у нарзанного источника. По прибытии — знакомство группы, инструктаж участников.</p>
                  <p><b>В этот день вы научитесь:</b> выбирать место для лагеря, устанавливать палатки на наклонной местности, а также получите вводные сведения о выживании в горах.</p>
                </div>
                <a href="#" class="link--button link--button--blue">
                  <span class="link--button__text link--button__text--bg">Хочу записаться</span>
                  <span class="link--button__text link--button__text--for">Хочу записаться</span>
                </a>
              </div>
            </div>
            <div class="program__item js-tabs-item">
              <div class="program__item-video">
                <div class="program__video-container">
                  <img class="program__video-bg" src="./img/tour-team.jpg" alt="bg-shape">
                  <div class="program__video-preview">
                    <img class="program__video" src="./img/tour-team.jpg" alt="about video">
                    <div class="program__video-preview-mask">
                    </div>
                    <div class="program__video-play-button">
                      {{> play-button }}
                    </div>
                    <button class="program__item-video-modal-button js-video-modal-button" data-video-id="CNpqVWhgdZs" data-video-img-src="./img/tour-team.jpg">
                    </button>
                  </div>
                </div>
              </div>
              <div class="program__item-info">
                <h3 class="program__item-header">Встреча группы. Обучение</h3>
                <div class="program__item-text">
                  <p>Встреча группы в зале ожидания железнодорожного вокзала города Пятигорска. Раздача продуктов и общественного снаряжения (верёвки, горелки, палатки). Далее — заезжаем в пункт проката снаряжения. Обед в кафе на поляне Чегет (кавказская кухня: чебуреки, шашлыки, супы). В посёлок Эльбрус приедем ближе к вечеру и сразу в путь — нас ждёт переход до места ночёвки у нарзанного источника. По прибытии — знакомство группы, инструктаж участников.</p>
                  <p><b>В этот день вы научитесь:</b> выбирать место для лагеря, устанавливать палатки на наклонной местности, а также получите вводные сведения о выживании в горах.</p>
                </div>
                <a href="#" class="link--button link--button--blue">
                  <span class="link--button__text link--button__text--bg">Хочу записаться</span>
                  <span class="link--button__text link--button__text--for">Хочу записаться</span>
                </a>
              </div>
            </div>
          </div>
        </div>
    </div>
</section>