{{#extend "layout"}}
{{#content "page-content"}}
  {{> header--article }}

  <main class="page-main">
    {{> article }}
    {{> blog-mailing }}
    {{> form-section }}
  </main>
  
  {{> footer }}

{{/content}}
{{/extend}}