{{#extend "layout"}}
{{#content "page-content"}}
  {{> header--blog}}

  <main class="page-main">
  	{{> blog-slider }}
  	{{> choose-section }}
  	{{> blog-themes }}
    {{> form-section }}
  </main>
  
  {{> footer }}
{{/content}}
{{/extend}}