{{#extend "layout"}}
{{#content "page-content"}}
  {{> header--photo }}

  <main class="page-main">
	{{> albums }}
  	{{> about }}
  	{{> large-slider }}
  	{{> accordion }}
    {{> form-section }}
  </main>
  
  {{> footer }}
  {{> video-modal }}
{{/content}}
{{/extend}}