{{#extend "layout"}}
{{#content "page-content"}}
{{> header--question }}

<main class="page-main">
  <div class="question">
    {{> question-section }}
  </div>
  {{> form-section }}
</main>

{{> footer }}
{{> video-modal }}
{{/content}}
{{/extend}}