{{#extend "layout"}}
{{#content "page-content"}}
  {{> header-tour }}

  <main class="page-main">
  	{{> i-about }}
    {{> full-item-slider }}
  	{{> tour-program }}
  	{{> guides-slider }}
    {{> large-slider }}
  	{{> prepare }}
    {{> tour-description-prices }}
    {{> s-reviews-slider }}
    {{> equipment }}
    {{> faq-small }}
    {{> form-section }}
  </main>
  
  {{> footer }}
  {{> video-modal }}
{{/content}}
{{/extend}}