.equipment {
    overflow: hidden;
    padding-bottom: 10.7rem;
    @include breakpoint(mobile) {
        padding-bottom: 5.4rem;
    }
    &__title {
        font-size: 4.5rem;
        line-height: 6.5rem;
        font-weight: 900;
        font-family: var(--jost);
        font-style: italic;
        text-transform: uppercase;
        color: var(--primary-color);
        margin-bottom: 2.3rem;
        @include breakpoint(mobile) {
            font-size: 2.4rem;
            line-height: 3.5rem;
        }
    }

    &__subtitle {
        font-size: 2rem;
        line-height: 2.6rem;
        color: #333;
        font-family: var(--nunito);
        max-width: 872px;
        @include breakpoint(mobile) {
            font-size: 1.6rem;
        }
    }

    &__container {
        display: flex;
        margin-top: 7.2rem;
        justify-content: space-between;
        position: relative;
        @include breakpoint(mobile) {
            margin-top: 4.2rem;
        }
    }

    &__list {
        flex-basis: 41%;
        @include breakpoint(mobile) {
            flex-basis: 100%;
          }
    }

    &__item {
        display: flex;
        flex-direction: column;
        position: relative;
        padding-bottom: 2.5rem;
        margin-top: 2.5rem;
        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: rgba($color: #12214D, $alpha:0.1 );
        }

        &-btn {
            display: flex;
            align-items: center;
            cursor: pointer;
            h5 {
                font-size: 2rem;
                line-height: 2.5rem;
                font-weight: 900;
                font-family: var(--jost);
                color: var(--primary-color);
                @include breakpoint(mobile) {
                    font-size: 1.6rem;
                }
            }
            &>span {
                position: relative;
                &::before {
                    content: '';
                    position: absolute;
                    border-radius: 100%;
                    width: 2.2rem;
                    height: 2.2rem;
                    background-color: #EDF3FB;
                    left: -8px;
                    top: 6px;
                    z-index: -1;
                }
                &>svg {
                    width: 2.3rem;
                    height: 2rem;
                    margin-right: 1.7rem;
                }
            }
            &>svg {
                width: 2rem;
                height: 0.9rem;
                margin-left: auto;
                transition: 0.3s;
            }
        }
        
        &-point {
            display: flex;
            align-items: center;
            margin-bottom: 2.7rem;
            cursor: pointer;
            position: relative;
            transition: 0.3s;
            &:last-child {
                margin-bottom: 2.6rem;
            }
            &::before {
                content: '';
                position: absolute;
                background-color: #EDF3FB;
                border-radius: 10px;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                width: 107%;
                height: 190%;
                opacity: 0;
                transition: 0.4s;
                z-index: -1;
            }
            &:hover {
                background-color: #EDF3FB;
                transition: 0.3s;
                &::before {
                    opacity: 1;
                    transition: 0.3s;
                    @include breakpoint(mobile) {
                        opacity: 0;
                    }
                }
            }
            @include breakpoint(mobile) {
                flex-grow: 1;
                margin-bottom: 0;
            p {
                max-width: 164px;
            }
            }
            p {
                font-size: 2rem;
                line-height: 2.2rem;
                font-weight: 600;
                font-family: var(--nunito);
                color: var(--primary-color);
                @include breakpoint(mobile) {
                    font-size: 1.6rem;
                    line-height: 2rem;
                }

            }
            &>input {
                display: none;
            }
            span {
                margin-left: auto;
                display: flex;
                font-size: 1.6rem;
                line-height: 2.2rem;
                font-weight: 600;
                font-family: var(--nunito);
                color: var(--primary-color);
            &>input {
                    max-width: 38px;
                    text-align: end;
                    margin-right: 3px;
                    color: var(--primary-color);
                }
            }
        }

        &-content {
            max-height: 0;
            opacity: 0;
            z-index: -99;
            transition: opacity 0.2s, max-height 0.5s;
            position: relative;
            
        }

        &-checkbox-false {
            width: 1.6rem;
            height: 1.6rem;border-radius: 100%;
            border: 1px solid rgba($color: #12214D, $alpha: 0.4 );
            margin-right: 1.7rem;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 1.2rem;
            &>svg {
                width: 0.8rem;
                height: 0.6rem;
                fill: white;
                opacity: 0;
                transition: 0.2s;
            }
            @include breakpoint(mobile) {
                margin-left: 0;
                margin-right: 0.5rem;
            }
        }

        &-arrow {
            display: none;
            @include breakpoint(mobile) {
                display: block;
                padding-left: 18px;
                position: relative;
                margin-left: 14px;
                &::before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translate(0, -50%);
                    width: 1px;
                    height: 123%;
                    background-color: rgba(18, 33, 77, 0.2);
                }
              }
            &>svg {
                width: 2rem;
                height: .9rem;
            }
        }

        &-mobileContent {
            display: none;
            @include breakpoint(mobile) {
                display: flex;
                // opacity: 0;
                border-top: 1px solid rgba(18, 33, 77, 0.2);
                max-height: 0;
                opacity: 0;
                z-index: -5;
                &>img {
                    width: 8.9rem;
                    height: 11.7rem;
                    margin-right: 2.3rem;
                }

                &>p {
                    font-size: 1.4rem;
                    max-width: 40.4rem;
                }
            }

        }

        &-inner {
            @include breakpoint(mobile) {
                display: flex;
                padding: 15px;
            }
        }

        &-wrapper {
            @include breakpoint(mobile) {
                border-radius: 10px;
                border: 1px solid rgba(18, 33, 77, 0.2);
                margin-bottom: 10px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    &__description {
        flex-basis: 56%;
        max-width: 74rem;
        max-height: 36rem;
        box-shadow: 0px 13px 20px rgba(0, 0, 0, 0.09);
        border-radius: 10px;
        background-color: #fff;
        padding: 4.2rem 3.5rem 5.4rem 5rem;
        position: relative;
        &>img {
            position: absolute;
            z-index: -1;
            top: -10%;
            left: 12%;
            transform: scale(1.5);

        }
        @include breakpoint(mobile) {
            display: none;
          }
        &-item {
            display: none;
            &>img {
                width: 17.8rem;
                height: 26.5rem;
            }
        }

        &-text {
            display: flex;
            flex-direction: column;
            margin-left: auto;
            &>h3{
                font-size: 2.5rem;
                line-height: 3.4rem;
                font-weight: 900;
                font-family: var(--jost);
                text-transform: uppercase;
                color: var(--primary-color);
                max-width: 294px;
                margin-bottom: 2.5rem;
            }
            &>p {
                font-size: 1.6rem;
                line-height: 2.2rem;
                font-family: var(--nunito);
                max-width: 413px;
            }
        }

    }

    &__result {
        position: relative;
        margin-top: 1.8rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 4.9rem;
        font-family: var(--nunito);
        &>p {
            font-size: 2rem;
            line-height: 2.5rem;
            font-family: var(--nunito);
            color: rgba($color: #333333, $alpha:0.4 );
        }
        &>span {
            font-size: 2rem;
            line-height: 2.2rem;
            font-weight: 900;
            color: var(--primary-color);
        }
    }

    &__btn {
        &>svg {
            width: 1.6rem;
            height: 1.3rem;
            margin-right: 1.3rem;
            @include breakpoint(mobile) {
                display: none
                }
            }
    }

    .active {
        .equipment__item-btn>svg {
            transform: rotate(-180deg);
            transition: 0.3s;
        }
        .equipment__item-content {
            opacity: 1;
            margin-top: 3.3rem;
            max-height: fit-content;
            transition: opacity 0.5s, max-height 0.3s;
            z-index: 1;
        }
        .equipment__description-item {
            display: flex;
        }
        .equipment__item-mobileContent {
            // opacity: 1;
        } 
    }

    .open-accordion {
        .equipment__item-mobileContent {
            max-height: 250px;
            opacity: 1;
            z-index: 1;
            transition: 0.3s;
            padding: 15px;
        }
    .equipment__item-arrow {
        &>svg {
            transform: rotate(-180deg);
            transition: 0.3s;
        }
    }
    }

    .equipment-checkbox:checked + .equipment__item-checkbox-false {
        background-color: #12214D;
        &>svg {
            opacity: 1;
            transition: 0.1s;
        }
    }

}